<!-- Movie title will be place here. Probably wrapped in header tags. Will be able to display the title when information is parsed from OMDB API -->
<h1>Movie title place holder</h1>

<!-- This is the section for individual movie information. The parsed data should be able to be place into each li element once the response attributes are finalized.-->
<section id="movie-info">
  <img src="Poster key from parsed data">
  <ul>
    <li>"Released"</li>
    <li>"Rating"</li>
    <li>"Runtime"</li>
    <li>"genre"</li>
    <li>"Director"</li>
    <li>"Writer"</li>
    <li>"Actors"</li>
    <li>"Plot"</li>
    <li>"Language"</li>
    <li>"Country"</li>
    <li>"metascore"</li>
    <li>"imdb rating"</li>
  </ul>
</section>

<!-- This is going to be the section where conversations on the movie are going to be placed. Almost certain we'll be iterating through the conversations stored in our database for the topics that get displayed here. Will be creating a helper method to pull the info we need from our database to display to the user.-->
<section id="converstaions">
  <p>"display comments thread when that feature gets implemented"</p>
</section>
